@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600&family=Public+Sans:wght@400;500:600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  font-family: "Public Sans", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ibarra Real Nova", serif;
}

@layer base {
  p {
    @apply text-gray;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-indigo font-medium tracking-tighter leading-none;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    @apply text-xl;
  }
}
